<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">

  </nav>
  <div class="container text-center">
      <h1>{{title}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="container"></div>
          <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder= "&#61442; search by title or isbn">
        </div>
       
      </div>

  
  <div class="contact-grid">
    <div class="gallery-grid">
      <mat-card class="example-card" *ngFor="let book of books| filter:searchText">
        <mat-card-content>
            <img class="cover" [src]="book.cover" alt="book">
         
            
            
            <p>
               
                 <output >{{book.title}}</output>
            </p>

           
            <p>
                <output aria-describedby="basic-addon1">Book Description:  {{book.description}}</output>
            </p>
            <p>
                <output aria-describedby="basic-addon1" class="form-control">ISBN: {{book.isbn}}</output>
            </p>
            <p>
                <output class="form-control" aria-describedby="basic-addon1">Condition: {{book.condition}}</output>
            </p>
            <p>
                <output class="form-control"> Category: {{book.category}}</output>
            </p>
            <p>
                <output class="form-control">Price: {{book.price}}</output>
              
            </p>
            
           
        </mat-card-content>
     
      </mat-card>
    </div>

    
  </div>

  
  