<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./login">LOGIN</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink ="./edit" >EDIT BOOK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink ="./cart" >SELL BOOK</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" routerLink="./buybook">BUY BOOKS</a>
                      </li>
          
            <li class="nav-item">
              <a class="nav-link" routerLink= "register">JOIN NOW</a>
            </li>
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
           
            
          
              <button class= "form-control btn btn-outline-success my-2 my-sm-0" *ngIf="!currentUser" (click)="logout()">Logout</button>
            
            
          </form>
          
        </div>
      </nav>