

<h3>
    <i class="mdi mdi-book-open-page-variant"></i> {{headTitle}}
  </h3>
  
<div class="jumbotron">
<div class="row">

<div class="logo col-xl-3 col-lg-3 col-md-3 col-sm-3" img src="Books-Store-Logo.jpg" class="img-responsive" alt="Book store logo"></div>
<h3 class="col-xl-6 col-lg-6 col-md-6 col-sm-6"> Student Exchange Book Store </h3>

<form class="col-xl-2 col-lg-2 2col-md-3 col-sm-2" id="filterbox"> 


</form>




</div>


<div class="row align-center">
    <h2>{{pageTitle}} <i class="mdi mdi-pen"></i> </h2>
  </div>
  
  <form   #bookForm="ngForm">
    
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label><i class="mdi mdi-layers"></i> Title
            <input
              placeholder="title"
              name="title"
              type="text"
              pattern="[a-zA-Z0-9 ]+"
              required
              ngModel
              #titleRef="ngModel" 
              [(ngModel)]="book.title">
              
            <div
              class="error"
              [hidden]="titleRef.valid || titleRef.pristine">
              <p>
                Title must be filled, it's required.
              </p>
            </div>
  
          </label>
        </div>
  
        <div class="small-12 medium-6 columns">
          <label><i class="mdi mdi-account"></i> Author
            <select
            id ="author"
              name="author"
              
              required
              ngModel
              #authorRef="ngModel"
              >
              <option value="">Select an author</option>
              <option *ngFor="let author of authors" [ngValue]="author.author">{{author.author}}</option>
            </select>
          </label>
          <div
            class="error"
            [hidden]="authorRef.valid || authorRef.pristine">
            <p>
              Author must be selected, it's required.
            </p>
          </div>
        </div>
      
  
    
  
  
        <div class="small-12 medium-6 columns">
          <label id="otherName"><i class="mdi mdi-account"></i> Publisher
            <select
            id= "publisher"
              name="publisher"
             
              required
              ngModel
              #publisherRef="ngModel"
              >
              <option value="">Select a publisher</option>
              <option *ngFor="let publisher of publishers" [ngValue]="publisher.publisher">{{publisher.publisher}}</option>
            </select>
            
          </label>
          <div
            class="error"
            [hidden]="publisherRef.valid || publisherRef.pristine">
            <p>
              Publisher must be selected, it's required.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
       
        <div class="small-12 medium-6 columns">
          <label><i class="mdi mdi-barcode"></i> ISBN
            <input
              type="text"
              placeholder="123abc"
              name="isbn"
              pattern="((978[\--– ])?[0-9][0-9\--– ]{10}[\--– ][0-9xX])|((978)?[0-9]{9}[0-9Xx])"
              required
              ngModel
              #isbnRef="ngModel"
              [(ngModel)]="book.isbn"
              >
  
              <div
                class="error"
                [hidden]="isbnRef.valid || isbnRef.pristine">
                <p>
                  ISBN must be filled, it's required.
                </p>
              </div>
          </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label><i class="mdi mdi-layers"></i> Edition
              <input
                placeholder="Textbook Edition"
                name="title"
                type="text"
                pattern="[a-zA-Z0-9 ]+"
                required
                ngModel
                #editionRef="ngModel" 
                [(ngModel)]="book.edition">
                
              <div
                class="error"
                [hidden]="editionRef.valid || editionRef.pristine">
                <p>
                  Edition must be filled, it's required.
                </p>
              </div>
    
            </label>
          </div>
          <div class="small-12 medium-6 columns">
              <label><i class="mdi mdi-layers"></i> Category
                <input
                  placeholder="Enter a book category"
                  name="title"
                  type="text"
                  pattern="[a-zA-Z0-9 ]+"
                  required
                  ngModel
                  #categoryRef="ngModel" 
                  [(ngModel)]="book.edition">
                  
                <div
                  class="error"
                  [hidden]="categoryRef.valid || categoryRef.pristine">
                  <p>
                    Category must be filled, it's required.
                  </p>
                </div>
      
              </label>
            </div>
      </div>
  
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label><i class="mdi mdi-currency-usd"></i> Price
            <input
           
              type="number"
              placeholder="$100"
              name="price"
              pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$"
              required
              
              ngModel
              #priceRef="ngModel"
              >
          </label>
          <div
            class="error"
            [hidden]="priceRef.valid || priceRef.pristine">
            <p>
              Price must be filled, it's required.
            </p>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
            <label><i class="mdi mdi-layers"></i>Condition
              <input
                placeholder="Textbook Condition"
                name="title"
                type="text"
                pattern="[a-zA-Z0-9 ]+"
                required
                ngModel
                #conditionRef="ngModel" 
                [(ngModel)]="book.condition">
                
              <div
                class="error"
                [hidden]="conditionRef.valid || conditionRef.pristine">
                <p>
                  condition must be filled, it's required.
                </p>
              </div>
    
            </label>
          </div>
        </div>
          <div class="row">

       </div>
    
  
     
      <div class="row align-center">
        <div class="column small-4">
          <button
            class="button" (click)="sendBook(book)"
            type="submit"
            [disabled]="!bookForm.form.valid"
            >
              {{action}}
          </button>
        </div>
        <div class="column small-4">
          <button
            class="button"
            [routerLink]="['']"
           
          >
            Cancel</button>
        </div>
  
        <div [hidden]="!edit" class="column small-4">
          <button
            class="button"
            [routerLink]="['', 'browse']"
          >
            Cancel</button>
        </div>
      </div>
   
  </form>
